@import "tailwindcss";

@theme {
    --font-racing: "Racing Sans One", "Arial Black", sans-serif;
    --color-brand-red: #d90429;
    --animate-fade-in: fadeIn 0.5s ease-out;
    --color-redbull: #3671C6;
    --color-ferrari: #E8002D;
    --color-mercedes: #00D7B6;
    --color-astonmartin: #229971;
    --color-mclaren: #FF8000;
    --color-alpine: #0093CC;
    --color-williams: #1868DB;
    --color-audi: #F50A20;
    --color-cadillac: #FFD700;
    --color-haas: #B6BABD;
    --color-racingbulls: #6692FF;
    --color-fastest: #B138AD;
    --color-pb: #00D21E;
    --color-slow: #FFF200;
}

@layer utilities {
    .text-shadow-glow {
        text-shadow: 0 0 20px rgba(217, 4, 41, 0.6);
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body {
    overflow: hidden;
    background-color: black;
    color: white;
}

html, body {
    height: 100%;
}